extends layout

block content
 div#home 
  h3. 
     Welcome #{user}
  
  form#form_logout(name="logout", method="post", action="/logout")
   button#logout(type="submit") Logout
  ul
    each collection, i in collections
         //li#collection_list_item
         if (collection.name!='system.js')
          a(href=collection.name) #{collection.name}
          br
          
  include search