extends layout

block content
  h3. 
     Login to Database
  form#form_login(name="login", method="post", action="/login")
    input#input_user(type="text", placeholder="User Name", name="user")
    br
    input#input_pass(type="password", placeholder="Password", name="pass")
    br
    br
    div(class='btn menu')
     button#submit_login(type="submit" class="buttons") submit
    
    if errormessage
     p #{errormessage} 
     
    if validationErrors
     each valError, i in validationErrors
         p #{valError.msg} 