extends layout

block content
  include menu
  br
  div   
   div#table
    div(class='btn menu')
     a(href="/newprofile/?type=interview&nextrecord="+nextrecord) Add a New Interview
  
    h3. 
      Interviews
     
    table(id="interviewsList")
      thead    
        tr#headtag
            th Code
            th Interviewee
            th Subject
            th Date
            
            
      tbody        
            each interview, i in collList
                tr
                    td
                        a(href="#" onclick="loadProfile('interviews','"+interview.code+"');") #{interview.code}
                    td=interview.interviewee
                    td=interview.subject
                    td=moment(interview.date).format('MMMM Do, YYYY')
                    
   div#sideProfile
  
   script.
    $('#interviewsList').DataTable( {
        paging: true
        } );