extends layout

block content
  include menu
  br
  div   
    
    h3. 
      Mapping
     
    iframe(width='800', height='571', src='/maps/qgis2web/index.html')
   
    div#sideProfile

  //-  script.
    //- $('#sitesList').DataTable( {
    //-     paging: true
    //-     } );