extends layout

block content
  include menu
  br
  div
   div#table
    div(class='btn menu')
     a(href="/newprofile/?type=party&nextrecord="+nextrecord) Add a New Party
    h3. 
     Parties

    table(id="partiesList")
      thead    
        tr#headtag
            th Code
            th Name in English
            th Name in Arabic
            th Alternative Name
            
      tbody        
            each party, i in collList
                tr
                    td
                        a(href='#' onclick="loadProfile('parties','"+party.code+"');") #{party.code}
                    td=party.name.en
                    td=party.name.ar
                    td=party.name.alt_name
                    
   div#sideProfile

  script.
    $('#partiesList').DataTable( {
        paging: true
        } );
  